[submodule "libs/yoga/yoga"]
	path = libs/yoga/yoga
	url = https://github.com/facebook/yoga
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
