/libmkshift.a
/libmkshift.la
/.libs

# Emacs temporary files
*~
\#*\#

# Automake files
*.deps
*.tar.gz
*.dirstamp

/aclocal.m4 
/autom4te.cache

/configure 

/depcomp 
/install-sh 
/missing 
/compile

/config.log
/config.status
/config.sub
/config.guess
/config.h.in
/config.h
/stamp-h1

/Makefile.in
/Makefile

/libtool

/m4