/libyoga.a
/libyoga.la
*.lo
/.libs

# Emacs temporary files
*~
\#*\#

# Automake files
*.deps
*.tar.gz
*.dirstamp

/aclocal.m4 
/autom4te.cache

/configure 

/depcomp 
/install-sh 
/missing 
/compile

/config.log
/config.status
/config.guess
/config.sub

/Makefile.in
/Makefile

/yoga/*
/yoga/.vscode/*
/m4

/ltmain.sh
/libtool